{
  "linters": {
    "*.js": ["prettier --write", "git add"],
    "*.ts": [
      "prettier --write",
      "tslint --fix --format stylish",
      "yarn jest --findRelatedTests",
      "git add"
    ]
  },
  "concurrent": false,
  "renderer": "verbose"
}
