{
  "linters": {
    "*.js": ["prettier --write", "git add"],
    "*.ts": [
      "prettier --write",
      "tslint --fix --format verbose",
      "yarn jest --findRelatedTests",
      "git add"
    ]
  },
  "concurrent": false
}
